body{
    text-align: center;
    background-image: url("images/green-grass.jpg");
    font-family: "High Tower Text", fantasy;
}
h1{
    font-family: "High Tower Text", fantasy;
}
span.square{
    display: inline-block;
    background-color: darkolivegreen;
    border: black solid 1px;

}

#Progress-bar
{
    align-content: center;
    margin-top: 10px;
    width: 100%;
    background-color: green;
    margin-left: 0;
    margin-right: 0;
}
#Bar
{
    margin-top: 10px;
    width: 0;
    height: 30px;
    background-color: red;
}
span.foundBone
{
    background-image:url("images/bone.png") ;
    background-size: cover;
    text-decoration-color: transparent;
    background-color: saddlebrown;
}
span.dugout{
    background-color: saddlebrown;
}
span.square:hover, span.square *:hover {
    cursor: pointer;
}
div#boardBackground
{
    align-content: center;
    background-color: bisque;
}


